<div class="tabs-card">

    <a class="task-tab active">

        Übersicht

    </a>

    <a class="task-tab">

        Unteraufgaben

        <span class="tab-count">4</span>

    </a>

    <a class="task-tab">

        Dateien

        <span class="tab-count">3</span>

    </a>

    <a class="task-tab">

        Kommentare

        <span class="tab-count">2</span>

    </a>

    <a class="task-tab">

        Zeiterfassung

    </a>

    <a class="task-tab">

        Aktivität

    </a>

</div>