<div class="project-tabs">

   <a class="tab active">

    <i class="bi bi-grid"></i>

    Übersicht

</a>

<a class="tab">

    <i class="bi bi-kanban"></i>

    Board

</a>

<a class="tab">

    <i class="bi bi-list-task"></i>

    Aufgaben

</a>

<a class="tab">

    <i class="bi bi-file-earmark"></i>

    Dateien

</a>

<a class="tab">

    <i class="bi bi-clock-history"></i>

    Zeiterfassung

</a>

<a class="tab">

    <i class="bi bi-activity"></i>

    Aktivität

</a>

<a class="tab">

    <i class="bi bi-gear"></i>

    Einstellungen

</a>

</div>