<div class="widget">

    <h4>

        Teammitglieder

    </h4>

    <div class="member">

        <img src="https://i.pravatar.cc/40?img=10">

        <div>

            <strong>

                Max Mustermann

            </strong>

            <small>

                Projektleiter

            </small>

        </div>

    </div>

    <div class="member">

        <img src="https://i.pravatar.cc/40?img=11">

        <div>

            <strong>

                Lisa Schneider

            </strong>

            <small>

                UI/UX Design

            </small>

        </div>

    </div>

</div>