<div class="widget">

    <h4>

        Zeiterfassung

    </h4>

    <div class="hours">

        32h 15m

    </div>

    <small>

        Von 40h geplant

    </small>

    <div class="progress mt-3">

        <div

            class="progress-bar"

            style="width:80%">

        </div>

    </div>

</div>