<div {{ attributes }}>

   {% if variant == 'compact' %}
        {% include "components/task/subtasks/_compact.html.twig" %}
   {% else %}
        {% include "components/task/subtasks/_full.html.twig" %}
   {% endif %}

</div>